<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @connection.post_id %>
</p>

<p>
  <strong>Category:</strong>
  <%= @connection.category_id %>
</p>

<%= link_to 'Edit', edit_connection_path(@connection) %> |
<%= link_to 'Back', connections_path %>
