<p id="notice"><%= notice %></p>

<p>
  <strong>Online:</strong>
  <%= @status.online %>
</p>

<p>
  <strong>Vote count:</strong>
  <%= @status.vote_count %>
</p>

<p>
  <strong>User:</strong>
  <%= @status.user_id %>
</p>

<%= link_to 'Edit', edit_status_path(@status) %> |
<%= link_to 'Back', statuses_path %>
