<h4>Select file to upload</h4>
<% if !@article.errors.empty? %>
   <div class = "alert alert-error">
      
      <ul>
         <% @article.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
         <% end %>
      </ul>
      
   </div>
<% end %>

<div class = "well">
   <%= form_for @article, html: { multipart: true } do |f| %>
      <%= f.label :name %>
      <%= f.text_field :name %></br>
      <%= f.label :attachment %>
      <%= f.file_field :attachment %>
      <%= f.submit "Upload", class: "btn btn-primary" %>
   <% end %>
</div>