<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<a class="navbar-brand" id="logo" href="#">PostIt</a>-->
      <%= link_to "uCast",root_path, class: "navbar-brand", id: "logo" %>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!--<li><a href="#">Link <span class="sr-only">(current)</span></a></li>-->
        <li><%= link_to  "About", about_path %></li>
        <!--<li><a href="#">Link</a></li>-->
        <!--li><!--%= link_to  "Contact", contact_path %></li-->        
<% if logged_in? %>   
<!--% if current_user.name != "admin"% -->
        <li><%= link_to  "Category", categories_path %></li>
        <li><%= link_to  "Post", post1s_path %></li>        
<!--% end % -->
<% end %>
      </ul>
     <% if logged_in? %>   
     <% if (current_user.name == "admin") %>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <!--<li><a href="#">Link</a></li>-->
        <!--li><!--%= link_to  "railscasts.com", ref1_path %></li-->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Developer<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to  "http://railscasts.com", ref1_path %></li>
            <li><%= link_to  "https://gorails.com", ref2_path %></li>
            <li><%= link_to  "https://railstutorial.org", ref3_path %></li>
            <li><%= link_to  "Ruby on Rails Tutorial full sample lesson(Rails 5)-YouTube",ref1001_path %></li>
            <li><%= link_to  "Ruby on Rails 5: Essential Training-YouTube(100 videos)",ref1002_path %></li>
            <li><%= link_to  "Learn Ruby on Rails from Scratch-Youtube(38v ideos)", ref1003_path %></li>
            <li><%= link_to  "https://www.tutorialspoint.com/ruby-on-rails", ref1004_path %></li>
            <li><%= link_to  "http://guides.rubyonrails.org/action_mailer_basics.html", ref1005_path %></li>
            <li><%= link_to  "http://api.rubyonrails.org/", ref1006_path %></li>
            <li><%= link_to  "https://github.com/rails/rails/blob/master/actionmailer/lib/action_mailer/base.rb",ref1007_path %></li>
            <li><%= link_to  "https://sendgrid.com/docs/Integrate/Frameworks/rubyonrails.html",ref1008_path %></li>
            <li><%= link_to  "http://railsforzombies.org", ref4_path %></li>
            <li><%= link_to  "https://thoughtbot.com/upcase/rails", ref5_path %></li>
            <li><%= link_to  "http://guides.rubyonrails.org/", ref6_path %></li>
            <li><%= link_to  "http://learn-rails.com/", ref7_path %></li>
            <li><%= link_to  "http://http://www.theodinproject.com/", ref8_path %></li>
            <!--%= link_to  "https://drive.google.com/file/d/0B6S6WKwpSu8IRndCQWM0OGZWWDQ/view", ref8_path %></li-->
            <li><%= link_to  "https://github.com/eliotsykes/rspec-rails-examples", ref9_path %></li>
            <li><%= link_to  "http://awesome-ruby.com/", ref10_path %></li>
            <li><%= link_to  "https://github.com/ekremkaraca/awesome-rails", ref11_path %></li>
            <li><%= link_to  "https://rvm.io/", ref12_path %></li>
            <li><%= link_to  "https://github.com/rbenv/rbenv#readme", ref13_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to  "https://www.udemy.com/courses/", ref14_path %></li>
            <li><%= link_to  "https://www.skillshare.com/home", ref15_path %></li>
            <li><%= link_to  "https://www.codecademy.com/learn/all", ref16_path %></li>
            <li><%= link_to  "https://www.freecodecamp.com/", ref17_path %></li>
            <li><%= link_to  "https://www.lynda.com/", ref1000_path %></li>
            <li role="separator" class="divider"></li>
            <li><%= link_to  "https://www.python.org/", ref101_path %></li>
            <li><%= link_to  "https://simpleprogrammer.com/2017/02/15/get-started-learning-python/", ref102_path %></li>
            <li><%= link_to  "https://realpython.com/", ref103_path %></li>
            <li><%= link_to  "https://training.talkpython.fm/courses/explore_python_jumpstart/", ref104_path %></li>
            <li><%= link_to  "https://learnpythonthehardway.org/book/", ref105_path %></li>
            <li><%= link_to  "https://www.codecademy.com/learn/python", ref106_path %></li>
            <li><%= link_to  "https://www.codeschool.com/learn/python", ref107_path %></li>
            <li><%= link_to  "https://training.talkpython.fm/courses/explore_entrepreneurs/", ref108_path %></li>
            <li><%= link_to  "https://www.datacamp.com/courses/intro-to-python-for-data-science", ref109_path %></li>
            <li><%= link_to  "https://www.amazon.com/gp/product/1449355730", ref110_path %></li>
            <li><%= link_to  "https://www.amazon.com/exec/obidos/ASIN/1593275994/makithecompsi-20", ref111_path %></li>          
            <li><%= link_to  "https://www.udemy.com/learning-python-not-the-snake/learn/v4/overview", ref112_path %></li>  
            <li><%= link_to  "https://www.pyimagesearch.com/practical-python-opencv/", ref113_path %></li>  
            <li><%= link_to  "https://www.pythonanywhere.com/", ref114_path %></li>  
            <li><%= link_to  "https://simpleprogrammer.com/2017/01/18/7-reasons-why-you-should-learn-python/", ref115_path %></li>  
            <!--<li><!--%= link_to  "", ref116_path %></li>  -->
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><%= link_to  "User Status", contact_path %></li>   
            <li><%= link_to  "File Upload", articles_path %></li>   
            <li><%= link_to  "Send Email", emailusers_path %></li>   
<%
=begin%>
            <li><%= link_to  "Category", categories_path %></li>
            <li><%= link_to  "Post", posts_path %></li>
            <li><%= link_to  "Connection", connections_path %></li>
            <li><%= link_to  "Comment", comments_path %></li>         
            <li><%= link_to  "Post1", post1s_path %></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">Separated link</a></li>
<%
=end%>
          </ul>
        </li>
      </ul>
      <% end %>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>