<p id="notice"><%= notice %></p>

<h4>Categories</h4>
<% if logged_in? %>
<!--% if current_user.name == "admin"%>-->
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.title %></td>
        <td><%= link_to 'Show', category,class: "btn btn-success" %></td>
        <% if logged_in? %>
          <% if current_user.name == "admin" %>
            <td><%= link_to 'Edit', edit_category_path(category), class: "btn btn-warning" %></td>
            <td><%= link_to 'Destroy', category, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></td>
          <% end %>  
        <% end %>  
      </tr>
    <% end %>
  </tbody>
</table>
<!--<div align="center">-->
<div>
  <%= will_paginate %>
</div>  
<hr>
<% if logged_in? %>
  <% if current_user.name == "admin" %>
    <%= link_to 'New Category', new_category_path, class: "btn btn-success" %>
  <% end %>
<% end %>

<% end %>
