<p id="notice"><%= notice %></p>

<p>
  <strong>Category Title:</strong>
  <%= @category.title %>
</p>

<!-----Tim Apply catagory to post-->
<!--% if logged_in? %-->
<!--% if current_user.name == "admin"% -->
  <% @cat_posts.each do |post| %>
    <h6><%= link_to post.title, post %></h6>
    <!--%= link_to post.content, post %-->
    <p>-----------</p>
  <% end %>

  <% @cat_post1s.each do |post1| %>
  <div class="title_class">
    <h6><%= link_to post1.title, post1 %></h6>
    <!--%= link_to post1.content, post1 %-->
  </div>
  <% end %>
<!--% else %-->
  <!--<ul>-->
    <!--<li>hh</li>-->
  <!--<!--% @cat.each do |cat| %>-->
  <!--<li><!--%= link_to cat.title,cat %></li>-->
  <!--</ul>-->
<!--% end %>-->
<!--% end %>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
