<p id="notice"><%= notice %></p>

<p>
  <strong>Post Title:</strong>
  <%= @post1.title %>
  <small>( Created at: <%= @post1.created_at.strftime("%b %d. %Y") %></small>
  <small> ; category: <%= @post1.category.title %> )</small>
</p>

<p>
  <strong>Content:</strong>
  <%= @post1.content %>
</p>

<!-----Tim Apply post to comment-->
<table>
  <thead>
    <tr>
      <th>票數</th>
      <th>讚</th>
      <th>噁</th>      
      <th>Comment</th>
      <th>Author</th>
      <th colspan="3"></th>
    </tr>
  </thead>

<tbody>
<% @pst1_comments.each do |comment| %>
  <tr>
    <td><%= comment.total_votes %></td>
    <td><%= link_to vote_post1_comment_path(@post1, comment, vote: true), class: "btn btn-primary", method: 'post' do %>
        讚
        <% end %>
    </td>
    <td><%= link_to vote_post1_comment_path(@post1, comment, vote: false), class: "btn btn-danger", method: 'post' do %>
        噁
        <% end %>
    </td>
    <td><%= link_to comment.content, comment %></td>
    <td><%= User.find_by_id( comment.user_id).name %></td>
  </tr>  
<% end %>
</tbody>
</table>
  <% @comment.post1_id = @post1.id %>
  <% @comment.user_id = current_user.id %>
  <!--------------- debug ---------------->
  current post title:
  <%= Post1.find_by_id(@comment.post1_id).title %>
  current user name:
  <%= User.find_by_id(@comment.user_id).name %>
  <!--------------- debug ---------------->
  <h4>請留言:</h4>
  <!--%= form_for [@post1,@comment] do |f| %>-->
  <%= form_for [@comment] do |f| %>
  <!---------------- debug -------------------->    
      <div class="field">
        <%= f.hidden_field :post1_id, value: @post1.id %>
      </div>
      <div class="field">
        <%= f.hidden_field :user_id, value: current_user.id %>
      </div>
  <!------------------- debug --------------------->
      <%= f.text_area :content, rows: 4, class: 'col-md-10' %>
      <div class="col-md-2">
        <%= f.submit '留言', class: 'btn btn-primary' %>
      </div>
    </div>
    <br>
  <% end %>
<!--%= link_to 'New Comment', new_comment_path(@post1), class: "btn btn-success" %><br-->
<%= link_to 'Edit', edit_post1_path(@post1) %> |
<%= link_to 'Back', post1s_path %>
