<p id="notice"><%= notice %></p>

<p>
  <strong>Post Title:</strong>
  <%= @post1.title %>
  <small>( Created at: <%= @post1.created_at.strftime("%b %d. %Y") %></small>
  <small> ; category: <%= @post1.category.title %> )</small>
</p>

<p>
  <strong>Content:</strong>
  <%= @post1.content %>
</p>
<%
=begin%>
<p>
  <strong>Category:</strong>
  <%= @post1.category_id %>
</p>
<p>
  <strong>User:</strong>
  <%= @post1.user_id %>
</p>
<%
=end%>

<!-----Tim Apply post to comment-->
<!--% if logged_in? %-->
<strong>Comments:</strong>
<% @pst1_comments.each do |comment| %>
  <!--<div class="row">-->
    <!--<div class='col-md-1 well text-center'>-->
    <div class="title_class">
      <% if logged_in? %>
        <%= link_to vote_post1_comment_path(@post1, comment, vote: true), class: "btn btn-primary", method: 'post' do %>
          讚
        <% end %>
      <%end %>
      <br/>
      <%= comment.total_votes %> 票
      <br/>
      <% if logged_in? %>
          <%= link_to vote_post1_comment_path(@post1, comment, vote: false), class: "btn btn-danger", method: 'post' do %>
            噁
          <% end %>
      <% end %>
    </div>
    <!--<div class="col-md-6 well">  -->
    <div class="title_class">
    <p>
       <%= User.find_by_id( comment.user_id).name %><%= ":" %><br>
       <%= link_to comment.content, comment %>
    </p>
    </div>  
  <!--</div>-->
<% end %>
  <!--%= @comment.post_id = @post.id %--> 
  <!--% @comment.post1_id = @post1.id %-->
  <!--% @comment.user_id = @user.id %-->
  <% @comment.post1_id = @post1.id %>
  <% @comment.user_id = current_user.id %>
  <!--------------- debug ---------------->
  current post title:
  <%= Post1.find_by_id(@comment.post1_id).title %>
  current user name:
  <%= User.find_by_id(@comment.user_id).name %>
  <!--------------- debug ---------------->
<!--%
=begin%-->
<% if logged_in? %>

  <h4>請留言:</h4>
  <!--%= form_for [@post1, @pst1_comments] do |f| %-->
  <!--%= form_for [@post1,@comment] do |f| %>-->
  <%= form_for [@comment] do |f| %>
  <!--%= form_for [@post1, @pst1_comments] do |f| %>-->
    <div class="row">
  <!---------------- debug -------------------->    
      <div class="field">
        <!--%= f.label :post1_id %><br-->
        <!--%= f.number_field :post1_id %-->
        <!--%= f.label :post %><br-->
        <!--%= f.select :post1_id, Post1.all.collect{ |x| [x.title, x.id]}, {:include_blank=>"Select One"} %><br /-->
        <!--%= f.number_field :post1_id, @post1.id %><br/-->
        <%= f.hidden_field :post1_id, value: @post1.id %>
      </div>
      <div class="field">
        <!--%= f.label :user_id %><br>-->
        <!--%= f.number_field :user_id %>-->
        <!--%= f.label :user %><br-->
        <!--%= f.select :user_id, User.all.collect{ |x| [x.name, x.id]}, {:include_blank=>"Select One"} %><br /-->
        <!--%= f.number_field :user_id,current_user.id %><br /-->
        <%= f.hidden_field :user_id, value: current_user.id %>
      </div>
  <!------------------- debug --------------------->
      <%= f.text_area :content, rows: 4, class: 'col-md-10' %>
      <div class="col-md-2">
        <%= f.submit '留言', class: 'btn btn-primary' %>
      </div>
    </div>
    <br>
  <% end %>
<% end %>
<!--%
=end%-->

<%= link_to 'New Comment', new_comment_path(@post1), class: "btn btn-success" %><br>
<%= link_to 'Edit', edit_post1_path(@post1) %> |
<%= link_to 'Back', post1s_path %>
