<!DOCTYPE html>
<html>
<head>
  <title>uCast</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= render "shared/nav" %>
<%= render "shared/navigation" %>
<!--<div class="logoImg"></div>-->
<!--<%= image_tag("logos/logo.png",width: '150px') %>-->
<!--</div>-->
<%= yield %>

</body>
</html>
